@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Montserrat';

/*** Reset *** **********************************************************************/

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6,p,blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn,em,img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i,center,dl, dt, dd, ol, ul, li,fieldset, form, label,legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav,output,ruby,section,summary,time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** IMPRESS.JS **
********************************************************************/
strong{
  color: black;
  font-weight: bold;
  text-decoration: underline;
}
.p1{
  padding: 1em;
  padding-left: 0.5em;
  padding-right: 0.5em;
  font-size: 1.5em;
}
.p1::before {
  content: " ■ ";
  color: black;
}
a{
  color: black;
  text-decoration: none;
}
a:hover{
  color: white;
  background: black;
  -webkit-box-shadow: 0px 0px 2px 5px black;
  -moz-box-shadow: 0px 0px 2px 5px black;
  box-shadow: 0px 0px 2px 5px black;
}
.p2{
  padding: 0.5em;
  padding-left: 1em;
  padding-right: 1em;
  font-size: 1.25em;
}
.p2::before {
  content: none;
}
.imgDiv {
  text-align: center;
  padding: 1em;
}
.img2Div {
  width: 25%;
  padding-left: 3em;
  padding-right: 3em;
  display: inline-block;
}

.img2Div2 {
  width: 25%;
  padding-left: 3em;
  padding-right: 3em;
  display: inline-block;
}

img{
  width: 100%;
  height: 100%;
}
.containerDiv {
  position: relative;
  width: 900px;
  height: 700px;
  font-family: Montserrat,sans-serif;
  padding: 1em;
  margin: 1em;
  border: 0.1em solid #A4A4A4;
  border-radius: 0.75em;
  background: #FEFEFE;
  z-index: 0;
}
.headerDiv {
  text-align: center;
  font-size: 3em;
  padding: 0.5em;
}
.footerDiv {
  position: absolute;
  bottom: 2em;
  margin: 1em;
  padding: 1em;
  right: 1em;
  text-align: right;
  font-size: 1em;
  transition: 0.5s;
}
.fallback-message {
  width: 90%;
  font-family: sans-serif;
  right: 1em;
  left: 1em;
  padding: 1em;
  margin: 1em;
  border: 1px solid #E4C652;
  border-radius: 10px;
  background: #EEDC94;
  text-decoration: blink;
  -webkit-animation-name: blinker;
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count:infinite;
  -webkit-animation-timing-function:ease-in-out;
  -webkit-animation-direction: alternate;
}
@-webkit-keyframes blinker {
  from {background: #EEDC94;}
  to {background: #E4C652}
}

/**impress-not-supported**/
.impress-supported .fallback-message {
  display: none;
}
.impress-not-supported .step{
  opacity: 1;
}
.impress-not-supported .imgShow{
  display: none;
}
.impress-not-supported .containerDiv {
  width: 90%;
  height: 110%;
}
.impress-not-supported .p1{
  font-size: 1em;
}
.impress-not-supported .p2{
  font-size: 1em;
}
.impress-not-supported .headerDiv {
  font-size: 1.5em;
}
.impress-not-supported .footerDiv {
  font-size: 0.5em;
}
/*****/

.step {
  opacity: 0.25;
  transition: opacity 1.5s;
  z-index: 0;
}
.step.active {
  opacity: 1;
  z-index: 1;
}

#overview {
  display: none;
}

#impress {
  z-index: 0;
}

.impress-on-overview .step {
    opacity: 1;
    cursor: pointer;
}
.hint {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 1.25em;
  background: rgba(0,0,0,0.35);
  color: #EEE;
  text-align: center;
  font-size: 1.5em;
  line-height: 1em;
  padding: 1em;
  opacity: 0;
  -webkit-transition: opacity 1s, -webkit-transform 0.5s 1s;
  -moz-transition:    opacity 1s,    -moz-transform 0.5s 1s;
  -ms-transition:     opacity 1s,     -ms-transform 0.5s 1s;
  -o-transition:      opacity 1s,      -o-transform 0.5s 1s;
  transition:         opacity 1s,         transform 0.5s 1s;
  z-index: 1;
}
.impress-enabled .hint {
  display: block
}
.impress-on-overview .hint {
    opacity: 1;
    -webkit-transition: opacity 1s 5s, -webkit-transform 0.5s 4.5s;
    -moz-transition:    opacity 1s 5s,    -moz-transform 0.5s 4.5s;
    -ms-transition:     opacity 1s 5s,     -ms-transform 0.5s 4.5s;
    -o-transition:      opacity 1s 5s,      -o-transform 0.5s 4.5s;
    transition:         opacity 1s 5s,         transform 0.5s 4.5s;
}

/**** Print slides ***/
@media print {
  .fallback-message,.hint {
    display: none;
  }
}
