@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body{ 
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-touch-callout: none;  
  -webkit-user-select: none;  
  -khtml-user-select: none;  
  -moz-user-select: none;  
  -ms-user-select: none; 
  user-select: none; 
  overflow: hidden;
}  
.step{ 
  overflow: auto;
}
.slide{ 
  width: 1200px;
  height: 700px; 
  opacity: 0.05;
  z-index: -10;
}  

@media (min-width: 0px) and (max-width: 320px) { .slide{ width: 320px; } }
@media (min-width: 320px) and (max-width: 480px) { .slide{ width: 320px; } }
@media (min-width: 480px) and (max-width: 600px) { .slide{ width: 480px; } }
@media (min-width: 600px) and (max-width: 800px) { .slide{ width: 600px; } }
@media (min-width: 800px) and (max-width: 1024px) { .slide{ width: 800px; } }
@media (min-width: 1024px) and (max-width: 1200px) { .slide{ width: 1024px; } }
@media (min-width: 1200px) { .slide{ width: 1200px; } } 
 
.active{ 
  opacity: 1;
  z-index: 10;
}
.viewSlide{
  opacity: 1;
}

progress{ 
  width: 100%; 
  display: block;  
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;  
  border: 0 none;  
  background: #f8f8f8;
}  
progress::-webkit-progress-bar {
	background-color: #f8f8f8;
}  
progress::-webkit-progress-value {  
  background: #666;
} 
progress::-moz-progress-bar { 
  background: #666;
}  

#status{  
  display: block;  
  position: absolute;
  top: 5px;
  right: 5px;   
} 
.btn{ 
  display: block;  
  position: absolute;
  top: 20%;
  height: 60%; 
  width: 2%; 
  font-size: 24px; 
  padding: 0;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  align-items: center;
  justify-content: center; 
  opacity: 1;
  z-index: 100;
  cursor: pointer;   
  border-radius: 25px;
  transition: all 0.125s ease-in-out;
} 
.btn:hover{  
  box-shadow:  0px 0px 500px #666;
  background-color: #DDD; 
}
 .btn:active{  
  width: 1%; 
 }
 
.btnNext{ 
  right: 0; 
}
.btnPrev{  
  left: 0; 
} 
/**/