@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Montserrat';
@import 'https://fonts.googleapis.com/icon?family=Material+Icons';

html, body{ 
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-touch-callout: none;  
  -webkit-user-select: none;  
  -khtml-user-select: none;  
  -moz-user-select: none;  
  -ms-user-select: none; 
  user-select: none; 
  overflow: hidden;
}  
.step{ 
  overflow: auto;
  transition: all 0.25s ease-in-out;
}
.slide{ 
  width: 1200px;
  height: 700px; 
  opacity: 0.05;
  z-index: -10;
}  

@media (min-width: 0px)    and (max-width: 320px)  { .slide{ width: 800px; height: 1500px; } }
@media (min-width: 320px)  and (max-width: 480px)  { .slide{ width: 800px; height: 1100px; } }
@media (min-width: 480px)  and (max-width: 600px)  { .slide{ width: 700px; height: 900px; } }
@media (min-width: 600px)  and (max-width: 800px)  { .slide{ width: 800px; height: 700px; } }
@media (min-width: 800px)  and (max-width: 1024px) { .slide{ width: 800px; height: 700px; } }
@media (min-width: 1024px) and (max-width: 1200px) { .slide{ width: 1024px; height: 700px; } }
@media (min-width: 1200px)                         { .slide{ width: 1200px; height: 700px; } } 
 
.active{ 
  opacity: 1;
  z-index: 10;
}
.viewSlide{
  opacity: 1;
}

progress{ 
  width: 100%; 
  display: block;  
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;  
  border: 0 none;  
  background: #f8f8f8;
}  
progress::-webkit-progress-bar {
	background-color: #f8f8f8;
}  
progress::-webkit-progress-value {  
  background: #666;
} 
progress::-moz-progress-bar { 
  background: #666;
}  

#status{  
  display: block;  
  position: absolute;
  top: 5px;
  right: 5px;   
} 
#startBtn, #nextBtn{    
  position: absolute;
  bottom: 5px;
  right: 5px;  
  z-index: 10; 
} 
#prevBtn{    
  position: absolute;
  bottom: 5px;
  left: 5px;  
  z-index: 10; 
} 
#menuBtn{    
  position: absolute;
  top: 5px;
  left: 5px;   
  z-index: 10;
} 
  
/**/