@charset "UTF-8";
@import 'https://fonts.googleapis.com/css?family=Montserrat';
body{
  background-color: black;
  color: white;
}
.slide{ 
  width: 1024px;
  height: 600px;
  padding: 1em; 
  border: 1px solid white;
  border-radius: 25px;
  box-shadow: 0 0px 6px white;   
  transition: all 0.25s ease-in-out; 
  opacity: 0;
  z-index: -10;
}

/*impress class*/
.active{
  background-color: white;
  color: black;
  opacity: 1;
  z-index: 10;
}
.viewSlide{
  opacity: 1;
}