<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server VPS: Login.</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css"> 
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>   
    <div id="appTemplate">  
      <div class="jumbotron">
        <h1 class="display-4">Server VPS: Diego E.E.</h1>
        <p class="lead">Página de Inicio</p>
        <hr class="my-4">
        <p>Visitar apps disponibles en el menu.</p>
        <div class="lead"> 
          <div class="row">
            <div class="col-sm-6 p-2"> 
              <a class="btn btn-outline-dark btn-lg btn-block h-100 align-middle" href="#info"> <i class="fa fa-play"></i> Inicio </a>
            </div>  
            <div class="col-sm-6 p-2">  
              <button id="btn1" class="btn btn-outline-dark btn-lg btn-block h-100"><i class="fa fa-trash"></i> Borrar cookies y sesión</button> 
            </div> 
            <!--
            <div class="col-sm-12 p-2">  
              <button id="btn2" class="btn btn-outline-dark btn-lg btn-block h-100"><i class="fa fa-server"></i> Reset Server</button> 
            </div> 
            -->
          </div> 
        </div>
      </div>
      <!-- Modal
      <div class="modal fade" id="modalServer" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Reset Server?</h5> 
            </div>
            <div class="modal-body"> 
              <div class="row">
                <div class="col-6 p-1"> 
                  <button id="resetServer" class="btn btn-success btn-xs btn-block h-100" type="button"><i class="fa fa-check"></i></button> 
                </div>
                <div class="col-6 p-1"> 
                  <button  class="btn btn-danger btn-xs btn-block h-100"  data-dismiss="modal" type="button"><i class="fa fa-times"></i></button> 
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
      -->
    </div>  
    <noscript>JAVASCRIPT IS NOT WORKING!</noscript>   
  </body>
</html>