<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server VPS: Login.</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css"> 
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>   
    <div id="appTemplate">
      <div class="container">   
        <div class="row mt-1">
          <div class="col-md-3 bg-light rounded"></div>
          <div class="col-md-6 bg-light rounded"> 
            <div class="form-group">
              <div class="input-group mt-3 mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">User</span>
                </div>
                <input id="user" type="text" class="form-control form-control-lg" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
              </div>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">Pass</span>
                </div>
                <input id="pass" type="password"  class="form-control form-control-lg" placeholder="Password" aria-label="Password" aria-describedby="basic-addon1">
              </div> 
            </div>
            <div class="text-center mb-3 rounded">
              <button id="loginBtn" class="btn btn-secondary btn-lg btn-block">Login</button>
            </div> 
          </div>
          <div class="col-md-3 bg-light"></div>
        </div>
      </div>
    </div>  
    <noscript>JAVASCRIPT IS NOT WORKING!</noscript>   
  </body>
</html>