<!DOCTYPE html>
 <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Server VPS: Diego E.E.</title>
    <link rel="stylesheet" type="text/css" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../node_modules/font-awesome/css/font-awesome.css"> 
    <link rel="stylesheet" href="../css/style.css">
  </head>
  <body>  
    <div id="appTemplate">
      <div class="container"> 
        <div class="row pt-2 pb-2">
          <div class="col-12">  
            <div class="card">
              <div class="card-header" id="card-header">  
                <div class="container"> 
                  <div class="row pt-2 pb-2">
                    <div class="col-sm-4 m-0 p-0 pl-1 pr-1">  
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <label class="input-group-text"><span><i class="fa fa-chart-bar"></i> Algo</span></label>
                        </div>
                        <select id="input0" class="form-control">
                        </select> 
                      </div> 
                    </div>
                    <div class="col-sm-4 m-0 p-0 pl-1 pr-1">  
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <label class="input-group-text"><span><i class="fa fa-stop-circle"></i> Stop</span></label>
                        </div>
                        <select id="input1" class="form-control">
                        </select> 
                      </div> 
                    </div> 
                    <div class="col-sm-4 m-0 p-0 pl-1 pr-1">  
                      <div class="input-group">
                        <div class="input-group-prepend">
                          <label class="input-group-text"><span><i class="fa fa-long-arrow-right"></i> Limit</span></label>
                        </div>
                        <select id="input2" class="form-control">
                        </select> 
                      </div>
                    </div>     
                  </div> 
                  <div class="row"> 
                    <div class="col-12 p-1"> 
                      <button id="btnApp" class="btn btn-success btn-xs btn-block h-100" type="button">AlgoTrading</button> 
                    </div>
                    <!--
                    <div class="col-9 p-1"> 
                      <div class="input-group input-group-lg">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="inputGroup-sizing-lg">File</span>
                        </div>
                        <input id="loadFile" type="file" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm"> 
                      </div>
                    </div> 
                    <div class="col-3 p-1"> 
                      <button id="btnLoadFile" class="btn btn-secondary btn-block h-100" type="button">
                        <i class="fa fa-upload"></i> <span class="small"> </span>
                      </button>
                    </div> 
                    -->
                  </div>
                </div> 
              </div>  
              <div class="card-body" id="body">
                <p id="terminalLog" class="p-0 m-0 small align-bottom">-</p>
                <div id="terminal"></div>
              </div>
            </div> 
          </div> 
        </div>
      </div> 
      <!-- Modal loading -->
      <div class="modal" id="loadingModal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Loading ... </h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 100%"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <script type="text/javascript" src="../../node_modules/jquery/dist/jquery.min.js"></script> 
    <script type="text/javascript" src="../../node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../js/start.js"></script>
    <script type="text/javascript">start();</script>
    <noscript>JAVASCRIPT IS NOT WORKING!</noscript>    
  </body>
</html>