 <!-- Container (LOADING) -->
<div id="spinnerLoading" class="notShowSpinner">
  <div class="spinner">
    <div class="bounce1"></div>
    <div class="bounce2"></div>
    <div class="bounce3"></div>
  </div>
</div>

<div id="body" class="showSpinner">

  <!-- Container (MENU) -->
  <nav class="navbar navbar-default navbar-fixed-top bg-black">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="btn navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar top-bar"></span>
          <span class="icon-bar middle-bar"></span>
          <span class="icon-bar bottom-bar"></span>
        </button>
        <a class="navbar-brand btn"><span class="small">D.E.E.</span></a>
        <!--FUN WIT FLAGS: https://www.proinf.net/permalink/banderas_del_mundo-->
        <a class="navbar-brand btn" id="language1">
          <img src="assets/img/english.svg" class="imgLanguage img-rounded" alt="Spanish">
        </a>
        <a class="navbar-brand btn" id="language2">
          <img src="assets/img/spanish.svg" class="imgLanguage img-rounded" alt="English">
        </a>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a class="aNav" href="#home">Home</a></li>
          <li><a class="aNav" href="#experience">Experience</a></li>
          <li><a class="aNav" href="#education">Academic training</a></li>
          <li><a class="aNav" href="#portfolio">Portfolio</a></li>
          <li><a class="aNav" href="#other">Others</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Container (HOME) -->
  <div class="border slideanim"></div>
  <div id="home" class="container-fluid">
    <div class="maxWidth1000">
      <div class="row paddingDiv">
        <div class="col-sm-8">
          <h2>Diego Espínola Espigares</h2>
          <h4>Telecommunications Engineer.</h4>
          <p>Business Intelligence Consultant. Data Engineer. Mobile Programming.</p>
          <p id="myMail"><i class="fas fa-envelope"></i><a href="mailto:despinolaespigares@gmail.com"> despinolaespigares@gmail.com</a></p>
          <p><i class="fab fa-linkedin"></i><a href="https://es.linkedin.com/in/diegoespinolaespigares"> https://es.linkedin.com/in/diegoespinolaespigares</a></p>
        </div>
        <div class="col-sm-4">
          <div class="row">
            <div class="col-sm-12 text-center">
              <img class="personalPhoto img-rounded" src="assets/img/profile_photo.png" alt="personal photo"/>
            </div>
          </div>
        </div>
        <div class="col-sm-12 text-center">
          <button id="printBtn" class="btn btn-default btn-lg ">Print CV</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Container (SLIDER) -->
  <div class="border slideanim"></div>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <!-- Wrapper for slides -->
    <div class="carousel-inner slideDiv" role="listbox">
      <div class="item active">
        <div class="slideDiv"></div>
        <div class="carousel-caption">
          <p>"Inspiration exists, but it has to find you working."</p>
          <p> Pablo Picasso (1881-1973) Spanish Artist.</p>
        </div>
      </div>
      <div class="item">
        <div class="slideDiv"></div>
        <div class="carousel-caption">
          <p>"Success is the ability to go from failure to failure without losing your enthusiasm"</p>
          <p> Winston Churchill (1874-1965) Ex Prime Minister of the United Kingdom.</p>
        </div>
      </div>
      <div class="item">
        <div class="slideDiv"></div>
        <div class="carousel-caption">
          <p>"One can only progress when you think big, you can only move forward when you look away." </p>
          <p>José Ortega Y Gasset (1883-1955) Spanish philosopher and essayist.</p>
        </div>
      </div>
    </div>
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left icon-white" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right icon-white" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

  <!-- Container (EXPERIENCIA) -->
  <div class="border slideanim"></div>
  <div id="experience" class="container-fluid bg-grey">
    <div class="maxWidth1000">
      <h2 class="text-center"><span class="glyphicon glyphicon glyphicon-briefcase"></span> Experience</h2>
      <div class="row slideanim">
        <div class="col-sm-12">
          <div class="timeline">
            <div class="slideanim">
            <article>
              <h3>Jefe de Equipo Business Intelligence</h3>
              <h4>ÁlamoConsulting S.L.</h4>
              <h5><time>January 2018</time> – <time>Now</time></h5>
              <p>Team management(4 p.). Agile methodology applied. Customer responsable. </p>
            </article>
            </div>
            <div class="slideanim">
            <article>
              <h3>Business Intelligence Consultant</h3>
              <h4>ÁlamoConsulting S.L.</h4>
              <h5><time>July 2014</time> – <time>January 2018</time></h5>
              <details open>
                <summary>Description of the company, projects and technologies used</summary>
                <p>Company dedicated to computer consulting services in the banking, healthcare and public sector.</p>
                <p>Data mining. Project BI: <a href="https://sms.carm.es/pin/" target="_blank"> PIN</a> in Public Health Service. </p>
                <p>Professor of training courses in BI modeling and openSource BI technologies: Pentaho</p>
                <p>Designing and programming Android mobile applications</p>
                <p>Oracle Datawarehouse, SQL, PL/SQL, Java, Web (HTML,CSS y JS) ETL process, Pentaho Data Integration (Kettle), Pentaho report Designer, Microstrategy.</p>
              </details>
              <details open>
              <summary>Courses and Certifications</summary>
                <p><a href="https://www.microstrategy.com/es" target="_blank">Microstrategy</a>: 9.011: Certified Project Designer (CPD) - Version 9.4.1</p>
              </details>
            </article>
            </div>
            <div class="slideanim">
            <article>
              <h3>Radio Engineer</h3>
              <h4>LLC Wireless Communication Services España S.A.</h4>
              <h5><time >November 2013</time> – <time>June 2014</time></h5>
              <details open>
              <summary>Description of the company, projects and technologies used</summary>
              <p>Empresa dedicada a servicios de consultoría, diseño y operaciones en redes de telefonía móvil.</p>
              <p>Reporting data radio for the Telefónica Movistar España's LTE nodes. helpdesk support.</p>
              <p>TEMS investigations, MapInfo, Excel.</p>
              </details>
            </article>
            </div>
            <div class="slideanim">
            <article>
              <h3>Integration Engineer</h3>
              <h4>mm-lab GmbH</h4>
              <h5><time >Junary 2013</time> – <time >March 2013</time></h5>
              <details open>
              <summary>Description of the company, projects and technologies used</summary>
              <p>Information technology applied to the automotive sector.</p>
              <p>Integration of software and hardware systems in pre-sale testing scenarios</p>
              <p>CANoe vector, CAN analyzer, Bluetooth, Bash.</p>
              </details>
            </article>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Container  -->
  <div class="border slideanim"></div>
  <div id="education" class="container-fluid bg-white">
    <div class="maxWidth1000">
      <h2 class="text-center"> <span class="glyphicon glyphicon glyphicon-list-alt"></span> Academic training</h2>
      <div class="row slideanim">
        <div class="col-sm-6">
          <h3><a href="https://www.um.es/informatica/index.php?pagina=especialista_dispositivos_moviles_contenidos_(2015)" target="_blank">II University Specialist in Mobile Applications Programming</a></h3>
          <h4>Universidad de Murcia</h4>
        </div>
        <div class="col-sm-6">
          <h5>32 ECTS</h5>
          <details open>
            <summary>Master Project</summary>
            <p><a href="https://github.com/diegoee/smartCardFamocoDevice" target="_blank">Android application for the control of the tram ticket. Reading of Card Data. Client: Tranvía de Murcia</a></p>
            <p>Keywords: Android, Android Studio, Java, NFC, Mifare Classic, SAM, Famoco Fx100,7</p>
          </details>
        </div>
      </div>
      <div class="row slideanim">
        <div class="col-sm-6">
          <h3><a href="http://portal.uc3m.es/portal/page/portal/postgraduate_studies/masters/Master_in_Multimedia_and_Communications" target="_blank">Master in Multimedia and Communications</a></h3>
          <h4>Universidad Carlos III de Madrid</h4>
        </div>
        <div class="col-sm-6">
          <h5>60 ECTS</h5>
          <details open>
          <summary>Master Project</summary>
          <p>Brain signals decoding through subjects with a transductive transfer learning approach.</p>
          <p>Keywords: Machine Learning, Regresión logística, Señales de magnetoencefalogramas (MEG), Python, Matlab.</p>
        </details>
        </div>
      </div>
      <div class="row slideanim">
        <div class="col-sm-12">
          <h3>Telecommunications Engineering</h3>
          <h4>Universidad de Granada</h4>
          <h5>375 Academy Credits  (Spanish University)</h5>
          <details open>
            <summary>Proyecto Fin de Carrera</summary>
            <p><a href="http://www.tel.uva.es/biblioteca/cpr.jsp?pry=5702" target="_blank">“Study and implementation of a compressive sampling technique applied to the reduction of the complexity of a model in analysis and synthesis of photoplethysmography signals”.</a></p>
            <p>Keywords: Compressive Sensing (CS), photoplethysmography signal (PPG), Matlab.</p>
          </details>
          <details open>
            <summary>Scholarships</summary>
            <p>2011 - 2012:  Sicue-Séneca. Universidad de Valladolid. (Spain)</p>
            <p>2009 - 2010:  Erasmus. EPFL: École Polytechnique Fédérale de Lausanne, Lausanne (Switzerland).</p>
          </details>
          <details open>
            <summary>Course</summary>
            <p><a href="http://www.tel.uva.es/personales/mercedes/index.html" target="_blank">Aula Mercedes-Benz</a></p>
          </details>
        </div>
      </div>
    </div>
  </div>

  <!-- Container (PORTFOLIO) -->
  <div class="border slideanim"></div>
  <div id="portfolio" class="container-fluid bg-white">
    <div class="maxWidth800">
      <h2 class="text-center"><span class="glyphicon glyphicon glyphicon-paperclip"></span> Freelance Portfolio</h2><br>
      <div class="row slideanim">
        <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <p><a href="https://paulaband.bitbucket.io" >Paula Band</a></p>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <a href="https://paulaband.bitbucket.io" >
                    <img src="https://paulaband.bitbucket.io/assets/desktop.png" alt="..." height="180px">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <p><a href="http://diegoee.github.io/impressjsSlides/tranviaImpressJS" > Ficalización Bono Tranvía de Murcia</a></p>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <a href="http://diegoee.github.io/impressjsSlides/tranviaImpressJS" >
                    <img src="http://diegoee.github.io/impressjsSlides/tranviaImpressJS/assets/01.png" alt="..." height="180px">
                    <img src="http://diegoee.github.io/impressjsSlides/tranviaImpressJS/assets/03.png" alt="..." height="180px">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-4 col-xs-12">
          <div class="panel panel-default text-center">
            <div class="panel-heading">
              <p><a href="https://play.google.com/store/apps/details?id=com.diegoee.rndgame1" > RnDGame</a></p>
            </div>
            <div class="panel-body">
              <div class="row">
                <div class="col-xs-12 col-md-12">
                  <a href="https://play.google.com/store/apps/details?id=com.diegoee.rndgame1" >
                    <img src="https://lh3.googleusercontent.com/17lr74DtMHOY4Wby_EkNRwYQWh384Gzd5U_w0L90tXD0eSjmQetol5FLWycp3_sDDIE=s180-rw" alt="..." height="180px"> 
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

   <!-- Container (OTHER) -->
  <div class="border slideanim"></div>
  <div id="other" class="container-fluid bg-grey">
    <div class="maxWidth1000 text-center">
      <h2><span class="glyphicon glyphicon-book"></span> Varios</h2>
      <div class="row">
        <article>
          <div class="col-sm-2 text-left">Languages:</div>
          <div class="col-sm-10 text-left">
            <p class="">English: Professional competence</p>
            <p>French & German: Low elementary</p>
          </div>
        </article>
        <article>
          <div class="col-sm-2 text-left">Hobbies:</div>
          <div class="col-sm-10 text-left">
            <p>Trading & Investing</p>
            <p>Musical Instruments</p>
          </div>
        </article>
      </div>
    </div>
  </div>


  <div class="border"></div>
  <footer class="container-fluid text-center">
    <a href="#home" title="To Top">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a>
    <p>CV: Diego Espínola Espigares. Last modification: June 30, 2019</p>
  </footer>

</div>

<div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
 <div class="modal-dialog">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Download CV</h3>
    </div>
    <div class="modal-body">
      <button id="secretPrintBtn" class="btn btn-default btn-lg">Contact by e-mail.</button> <p> thx :)</p>
    </div>
    <div class="modal-footer">
      <a href="#" data-dismiss="modal" class="btn btn-default">close</a>
    </div>
  </div>
 </div>
</div>
